span {
  font-size: 12px;
}

.countdown-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-timer-inputs {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 25%;
}

.div-timer-buttons {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 40%;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  font-size: 42px;
  position: absolute;
  top: 50%;
}

.countdown-timer div {
  padding: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.countdown-minutes {
  position: relative;
}

.countdown-seconds {
  position: relative;
  width: 100%;
  height: 100%;
}
