@media screen and (min-width: 1px) and (max-width: 319px) {
  .h1-statistics {
    display: none;
  }

  table {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  * {
    color: #222;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .h1-statistics {
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 46%;
  }

  table {
    position: absolute;
    top: 55%;
    margin: auto 10px;
  }

  table, th, td {
    border: 2px solid #b94502;
    border-collapse: collapse;
    border-style: outset;
    text-align: center;
    font-size: 10px;
    transition: 0.6s;
  }

  .statistics-section {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
  .h1-statistics {
    top: 44%;
  }

  table {
    top: 51%;
  }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
  .h1-statistics {
    font-size: 22px;
    top: 41%;
  }

  table {
    top: 51%;
  }

  table, th, td {
    font-size: 12px;
    transition: 0.6s;
  }
}

@media screen and (min-width: 600px) {
  .h1-statistics {
    font-size: 24px;
    top: 37%;
  }

  table {
    top: 48%;
  }

  table, th, td {
    font-size: 13px;
    transition: 0.6s;
  }
}
