.btc-image {
  box-shadow: 2px 2px 2px black;
  display: flex;
  margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .counter-background {
    animation: background-color-animate 7s infinite;
    background-color: rgb(255, 215, 0);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  @keyframes background-color-animate {
    0% {background-color: rgb(255, 215, 0);}
    10% {background-color: rgb(247, 205, 6)}
    20% {background-color: rgb(240, 195, 12)}
    30% {background-color: rgb(233, 185, 18)}
    40% {background-color: rgb(236, 175, 24)}
    50% {background-color: rgb(218, 165, 32)}
    60% {background-color: rgb(236, 175, 24)}
    70% {background-color: rgb(233, 185, 18)}
    80% {background-color: rgb(240, 195, 12)}
    90% {background-color: rgb(247, 205, 6)}
    100% {background-color: rgb(255, 215, 0);}
  }


  .btc-image {
    border-radius: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .btc-image {
    min-width: 320px;
    width: 320px;
  }
}

@media screen and (min-width: 481px) and (max-width: 700px) {
  .btc-image {
    min-width: 480px;
    width: 480px;
  }
}

@media screen and (min-width: 701px) {
  .btc-image {
    min-width: 700px;
    opacity: 0.7;
    width: auto;
  }
}
